In [1]:
import pandas as pd #data manipulation
import numpy as np #calculus and algebra
import seaborn as sns
import matplotlib.pyplot as plt
from scipy.stats import norm
from scipy.stats import stats

In [3]:
passenger_movement_df = pd.read_csv('TRBM1.20240317134742.csv') #Loading the CSV file into a pandas DF

# EDA

In [4]:
passenger_movement_df.head(30) #First 30 rows

,STATISTIC,STATISTIC Label,TLIST(M1),Month,DIRECT,Direction,TYPASS,Type of Passenger Movement,UNIT,VALUE
0,TRBM1,Passenger Movement,196101,1961M01,1,Arriving in Eire,1,Passenger Movement by Sea to All Countries,Number,20102.0
1,TRBM1,Passenger Movement,196101,1961M01,1,Arriving in Eire,11,Passenger Movement by Sea to Great Britain,Number,19963.0
2,TRBM1,Passenger Movement,196101,1961M01,1,Arriving in Eire,12,Passenger Movement by Sea to Countries Other T...,Number,139.0
3,TRBM1,Passenger Movement,196101,1961M01,1,Arriving in Eire,2,Passenger Movement Cross-Border Rail,Number,10344.0
4,TRBM1,Passenger Movement,196101,1961M01,1,Arriving in Eire,3,Passenger Movement Cross-Border Bus,Number,40063.0
5,TRBM1,Passenger Movement,196101,1961M01,1,Arriving in Eire,4,Passenger Movement by Air from All Airports,Number,18098.0
6,TRBM1,Passenger Movement,196101,1961M01,1,Arriving in Eire,41,Passenger Movement by Air from Dublin Airport,Number,16762.0
7,TRBM1,Passenger Movement,196101,1961M01,1,Arriving in Eire,42,Passenger Movement by Air from Cork Airport,Number,0.0
8,TRBM1,Passenger Movement,196101,1961M01,1,Arriving in Eire,43,Passenger Movement by Air from Shannon Airport,Number,1336.0
9,TRBM1,Passenger Movement,196101,1961M01,1,Arriving in Eire,431,Passenger Movement by Air from Shannon Airport...,Number,747.0
10,TRBM1,Passenger Movement,196101,1961M01,1,Arriving in Eire,432,Passenger Movement by Air from Shannon Airport...,Number,589.0
11,TRBM1,Passenger Movement,196101,1961M01,2,Departing Eire,1,Passenger Movement by Sea to All Countries,Number,44076.0
12,TRBM1,Passenger Movement,196101,1961M01,2,Departing Eire,11,Passenger Movement by Sea to Great Britain,Number,43860.0
13,TRBM1,Passenger Movement,196101,1961M01,2,Departing Eire,12,Passenger Movement by Sea to Countries Other T...,Number,216.0
14,TRBM1,Passenger Movement,196101,1961M01,2,Departing Eire,2,Passenger Movement Cross-Border Rail,Number,9967.0
15,TRBM1,Passenger Movement,196101,1961M01,2,Departing Eire,3,Passenger Movement Cross-Border Bus,Number,40137.0
16,TRBM1,Passenger Movement,196101,1961M01,2,Departing Eire,4,Passenger Movement by Air from All Airports,Number,27496.0
17,TRBM1,Passenger Movement,196101,1961M01,2,Departing Eire,41,Passenger Movement by Air from Dublin Airport,Number,24166.0
18,TRBM1,Passenger Movement,196101,1961M01,2,Departing Eire,42,Passenger Movement by Air from Cork Airport,Number,0.0
19,TRBM1,Passenger Movement,196101,1961M01,2,Departing Eire,43,Passenger Movement by Air from Shannon Airport,Number,3330.0
20,TRBM1,Passenger Movement,196101,1961M01,2,Departing Eire,431,Passenger Movement by Air from Shannon Airport...,Number,779.0
21,TRBM1,Passenger Movement,196101,1961M01,2,Departing Eire,432,Passenger Movement by Air from Shannon Airport...,Number,2551.0
22,TRBM1,Passenger Movement,196102,1961M02,1,Arriving in Eire,1,Passenger Movement by Sea to All Countries,Number,19157.0
23,TRBM1,Passenger Movement,196102,1961M02,1,Arriving in Eire,11,Passenger Movement by Sea to Great Britain,Number,19079.0
24,TRBM1,Passenger Movement,196102,1961M02,1,Arriving in Eire,12,Passenger Movement by Sea to Countries Other T...,Number,78.0
25,TRBM1,Passenger Movement,196102,1961M02,1,Arriving in Eire,2,Passenger Movement Cross-Border Rail,Number,10013.0
26,TRBM1,Passenger Movement,196102,1961M02,1,Arriving in Eire,3,Passenger Movement Cross-Border Bus,Number,37184.0
27,TRBM1,Passenger Movement,196102,1961M02,1,Arriving in Eire,4,Passenger Movement by Air from All Airports,Number,17250.0
28,TRBM1,Passenger Movement,196102,1961M02,1,Arriving in Eire,41,Passenger Movement by Air from Dublin Airport,Number,15964.0
29,TRBM1,Passenger Movement,196102,1961M02,1,Arriving in Eire,42,Passenger Movement by Air from Cork Airport,Number,0.0

In [5]:
passenger_movement_df.shape #12936 rows, 10 columns

(12936, 10)

In [6]:
#Renaming columns intuitively
passenger_movement_df = passenger_movement_df.rename(columns={'TLIST(M1)': 'Year' })

In [7]:
passenger_movement_df.dtypes 
#value has no incorrectly inputted values (such as numbers inputted as words), all floats

STATISTIC                      object
STATISTIC Label                object
Year                            int64
Month                          object
DIRECT                          int64
Direction                      object
TYPASS                          int64
Type of Passenger Movement     object
UNIT                           object
VALUE                         float64
dtype: object

In [9]:
passenger_movement_df.count() #VALUE column missing two values

STATISTIC                     12936
STATISTIC Label               12936
Year                          12936
Month                         12936
DIRECT                        12936
Direction                     12936
TYPASS                        12936
Type of Passenger Movement    12936
UNIT                          12936
VALUE                         12934
dtype: int64

In [10]:
passenger_movement_df = passenger_movement_df.drop(["STATISTIC Label", "TYPASS", "UNIT", "DIRECT", "STATISTIC","Month"], axis=1)
#removing columns which aren't needed/contain the same info
#going to keep the two year-month columns as the original form will be used later on in ML section
#copied

In [12]:
ascending_passenger_movement_df = passenger_movement_df.sort_values(by='VALUE', ascending=False) #Year with the most movement
ascending_passenger_movement_df

,Year,Direction,Type of Passenger Movement,VALUE
12567,200808,Arriving in Eire,Passenger Movement by Air from All Airports,1603381.0
12303,200708,Arriving in Eire,Passenger Movement by Air from All Airports,1575955.0
12281,200707,Arriving in Eire,Passenger Movement by Air from All Airports,1565640.0
12545,200807,Arriving in Eire,Passenger Movement by Air from All Airports,1555437.0
12292,200707,Departing Eire,Passenger Movement by Air from All Airports,1555235.0
...,...,...,...,...
161,196108,Arriving in Eire,Passenger Movement by Air from Cork Airport,0.0
2675,197102,Departing Eire,Passenger Movement by Sea to Countries Other T...,0.0
2631,197012,Departing Eire,Passenger Movement by Sea to Countries Other T...,0.0
12126,200612,Arriving in Eire,Passenger Movement Cross-Border Bus,NaN
12137,200612,Departing Eire,Passenger Movement Cross-Border Bus,NaN

In [13]:
#Checking for duplicates
duplicate_rows_df = passenger_movement_df[passenger_movement_df.duplicated()]
print('number of duplicate rows: ', duplicate_rows_df.shape)
#no duplicated data

number of duplicate rows:  (0, 4)

In [18]:
passenger_movement_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 12934 entries, 0 to 12935
Data columns (total 4 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Year                        12934 non-null  int64
 1   Direction                   12934 non-null  object
 2   Type of Passenger Movement  12934 non-null  object
 3   VALUE                       12934 non-null  float64
dtypes: float64(1), int64(1), object(2)
memory usage: 505.2+ KB

In [14]:
print(passenger_movement_df.isnull().values.any()) #Checking for null values

True

In [15]:
print(passenger_movement_df.isnull().sum()) #two null values

Year                          0
Direction                     0
Type of Passenger Movement    0
VALUE                         2
dtype: int64

In [16]:
passenger_movement_df.dropna(axis=0,inplace=True) #dropping the two rows with null values

In [17]:
passenger_movement_df.shape #two rows have been dropped

(12934, 4)

In [ ]:
#function to convert imported year to a decimal for graphing
def year_month_to_decimal(year_month):
    
    year = int(year_month[:4])
    month = int(year_month[4:])
    decimal_month = month / 12.0
    return year + decimal_month

In [ ]:
#applying the function to the year 
passenger_movement_df['Year'] = passenger_movement_df['Year'].astype(str)
passenger_movement_df['decimal_year'] = passenger_movement_df['Year'].apply(year_month_to_decimal)
passenger_movement_df['decimal_year'] = passenger_movement_df['decimal_year'].astype(float)
passenger_movement_df